{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
{% include 'inc/navbar.html.twig' %}

    <div id="layoutSidenav">
        <!-- Inclure la sidebar -->
        {% include 'inc/sidebar.html.twig' %}

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Articles</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                        <li class="breadcrumb-item active">Articles</li>
                    </ol>
                    <div class="form-control form-control-lg .form-row">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    <div style="height: 100vh"></div>
                </div>
            </main>

            <!-- Inclure le footer -->
            {% include 'inc/footer.html.twig' %}
        </div>
    </div>
{% endblock %}